.private {
  display: flex;
  width: 100vw;
  /* background-color: #21796d; */
  padding: 10px 24px;
  gap: 50px;
}
.myprofile{
  text-align: center;
  /* background-color: rgb(227, 240, 240); */
}
.myprofile img{
  width: 100px;
  height: 100px;
  border-radius: 50px;
}
.search {
  display: flex;
  /* background-color: aqua; */
  align-items: center;
  margin-top: 10px;
  gap: 30px;
}
.message{
  /* background-color: bisque; */
  width: 100%;
}
.name {
  display: flex;
  align-items: center;
  gap: 40px;
}
.overflow { 
  width: 100%;
  height: 460px;
  background-color: #fafafa;
  /* background-color: aqua; */
  padding: 10px;
  overflow-y: scroll;
}
.overfloww {
  width: 100%;
  height: 270px;
  padding: 10px;
  overflow-y: scroll;
}